*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 31px 0 0 42px;
    background-image: url('img/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* flex-direction: column; */
    min-height: 100vh;
}
.row{
    display: flex;
}
.logo{
    margin-bottom: 19px;
}
.sign-part{
    width: 539px;
    height: 741px;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 44px 79px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 40px;

}
.texts-part{
    display: flex;
    justify-content: space-between;
}
.lorem-text{
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
    color: #000;
}
.lorem-span{
    color: #779341;
}
.lorem-title{
    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
    color: #000000;
    margin-bottom: 43px;
}
.account-text{
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #8D8D8D;

}
.account-link{
    text-decoration: none;
    color: #779341;
}
.social{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.google-link{
    text-decoration: none;
    padding: 15px 68px 15px 30px;
    border-radius: 3px;
    background-color: #4286f428;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #4285F4;
    display: flex;
    align-items: center;
}
.google-img{
    margin-right: 21px;
}
.social-link{
    width: 60px;
    height: 55px;
    padding: 12px 17px 17px 16px;
    background: #fff;
    border-radius: 9px;
}
.facebook-link{
    margin-left: 20px;
}
.apple-link{
    margin-left: 13px;
}
.email-pass-part{
    display: flex;
    flex-direction: column;
}
.email-pass-label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 13px;
}
.email-add-pass{
    padding: 19px 124px 19px 25px;
    background-color: #fff;
    border: 1px solid #4285F4;
    border-radius: 9px;
}
.email-in{
    margin-bottom: 36px;
}
.pass-in{
    margin-bottom: 12px;
}
.forget-link{
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #4285F4;
    display: flex;
    justify-content: end;
    margin-bottom: 44px;
}
.sign-btn{
    padding: 15px 92px;
    border: none;
    background-color: #779341;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    display: flex;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}
.sign-btn:hover{
    outline: 3px solid #779341;
    background-color: #fff;
    color: #779341;
    transition: all 1s ease;
}
/* ---sign up project */

.part-sign{
    margin-bottom: 63px;
}
.user-contact{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}
.contact-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.contact-in{
    align-items: center;
    padding: 20px 0 16px 13px;
    background: #fff;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 9px;
}



